<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <style>
    .error-message {
      color: red;
    }
  </style>
</head>
<body>
  <h1>Login</h1>
  

  <form method="POST" action="/login">
    <label for="userInput">Username: </label>
    <input type="text" id="userInput" name="username" placeholder="Username" required>
    <label for="pwdInput">Password: </label>
    <input type="password" id="pwdInput" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>

  <p>New user?</p>
  <a href="/newuser">Create Account</a>
</body>
</html>
