<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register user</title>
</head>
<body>
  <h1>Create account</h1>
  <form action="POST" action="/register">
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="Username">
    <label for="password">Password: </label>
    <input type="text" name="password" placeholder="Password">
    <label for="confirmPwd">Password confirm: </label>
    <input type="text" name="confirmPwd" placeholder="Password">
    <button type="submit">Login</button>
  </form>
  <p>Have an account?</p>
  <a href="/">Login</a>
</body>
</html>