<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a member</title>
</head>
<body>
    <h1>Members can post and reply to posts!</h1>
    <form action="POST">
        <label for="memberCB"></label>
        <input type="checkbox" name="memberCB">
        <button type="submit">Save</button>
    </form>
</body>
</html>